
<%= form_for @character do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </p>

  <br>

  <p>
    <%= f.collection_radio_buttons(:race_id, Race.all, :id, :name) %>
  </p>

  <br>

  <p>
    <%= f.collection_radio_buttons(:profession_id, Profession.all, :id, :name, item_wrapper_class: :radiobutton) %>
  </p>

  <br>

  <p>
    <%= f.collection_radio_buttons(:background_id, Background.all, :id, :name, item_wrapper_class: :radiobutton) %>
  </p>

  <%= f.submit "Submit" %>
<% end %>
