<h1><%= @character.name %></h1>

<ul>
  <% @race.attributes.each do |k,v| %>
    <% unless k == "id" || k == "updated_at" || k == "created_at" %>
      <li><%= k.titleize %>: <%= v %> </li>
    <% end %>
  <% end %>

  <hr>

  <% @profession.attributes.each do |k,v| %>
    <% unless k == "id" || k == "updated_at" || k == "created_at" %>
      <li><%= k.titleize %>: <%= v %> </li>
    <% end %>
  <% end %>

  <hr>

  <% @background.attributes.each do |k,v| %>
    <% unless k == "id" || k == "updated_at" || k == "created_at" %>
      <li><%= k.titleize %>: <%= v %> </li>
    <% end %>
  <% end %>

</ul>

  <div class="character_controls">
    <%= link_to "All Characters", user_path(@current_user) %>
    <%= link_to "Edit", edit_character_path( @character.id ) %>
    <%= link_to "Delete Character", character_path( @character.id ), :method => :delete, :data => { :confirm => "Are you sure?"}%>
  </div>
