br
<h1><%= @character.name %></h1>

<hr>
<div class="row">
  <div class="col s4">
    <h3>Attributes</h3>

    <% @strdeco.attributes.each do |k,v| %>
      <% if k == "strength" || k == "dexterity" || k == "constitution" || k == "intelligence" || k == "wisdom" || k == "charisma" %>
        <li><%= k.titleize %>: <%= raw(v) %></li>
      <% end %>
    <% end %>
  </div>

  <div class="col s4">
    <h3>Attribute Bonus</h3>

    <% @strdeco.attributes.each do |k,v| %>
      <% if k == "str_bonus" || k == "dex_bonus" || k == "con_bonus" || k == "int_bonus" || k == "wis_bonus" || k == "cha_bonus" %>
        <li><%= k.titleize %>: <%= raw(v) %></li>
      <% end %>
    <% end %>
  </div>

  <div class="col s4">
    <h3>Save bonus</h3>

    <% @strdeco.attributes.each do |k,v| %>
      <% if k == "str_save" || k == "dex_save" || k == "con_save" || k == "int_save" || k == "wis_save" || k == "cha_save" %>
        <li><%= k.titleize %>: <%= raw(v) %></li>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<%= button_to("Reroll", reroll_path(@character), :method => "get") %>

<br>
<hr>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><h3><%= @race.name %></h3></div>
    <div class="collapsible-body">
      <p>
        <% @race.attributes.each do |k,v| %>
          <% unless k == "id" || k == "updated_at" || k == "created_at" || k == "name" || k == "ability_increases"%>
          <%= k.titleize %>: <%= raw(v) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><h3><%= @profession.name %></h3></div>
    <div class="collapsible-body">
      <p>
        <% @profession.attributes.each do |k,v| %>
          <% unless k == "id" || k == "updated_at" || k == "created_at" || k == "name" %>
          <%= k.titleize %>: <%= raw(v) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><h3><%= @background.name %></h3></div>
    <div class="collapsible-body">
      <p>
        <% @background.attributes.each do |k,v| %>
          <% unless k == "id" || k == "updated_at" || k == "created_at" || k == "name" %>
          <%= k.titleize %>: <%= raw(v) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </li>
</ul>

  <div class="character_controls">
    <%= link_to "All Characters", user_path(@current_user) %>
    <%= link_to "Edit", edit_character_path( @character.id ) %>
    <%= link_to "Delete Character", character_path( @character.id ), :method => :delete, :data => { :confirm => "Are you sure?"}%>
  </div>
  
